includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 4
    paths:
        - app/
        - database/factories/
        - database/seeders/
    excludePaths:
        - database/migrations/
    ignoreErrors:
        - '#Access to an undefined property App\\Http\\Resources#'
